*{

	padding : 0;
	margin: 0;
	font-family: sans-serif;
	background: whitesmoke;
}

nav{ 
	padding-top: 10px;
	}
nav>img{
	margin-left: 0px;
	margin-top=10px
	}
nav>ul{
	list-style: none;
	float: right;
	margin-right: 50px;
	}
nav>ul>li{
	display: inline-block;
	padding: 10px;
	}
nav>ul>li>a{
	text-decoration: none;
	color: black;
	font-size:16px;
	}
nav>ul>li>a:hover{
	color: #00FF06;
	}
.container{
	margin-left: 50px;
	margin-right: 50px;
	}
.container>h1{
	margin-top:20px;
	Font-size:50px;
	text-shadow: 2px 0px black;
	}
.container>p{
	font-size:19px;
	color: #AFA1A1;
	margin-top:20px;
	margin-bottom: 35 px;
	}
.container>img{
	float: right;
	margin-top: -20px;
	}
